* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #b8bcb8;
    color: white;
}

.items {
    display: flex;
    list-style: none;
}

.item {
    font-size: 25px;
    font-weight: bold;
    padding: 6px;
    margin-right: 10px;
}

/* Banner Container styles */
.banner-container {
    width: 100%;
    height: 100vh;
    background-image: url("./asset/image/background.jpg"),
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    background-blend-mode: overlay;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white
}

.banner-title {
    font-size: 75px;
    font-weight: bold;
    padding: 10px;
}

.primary {
    color: rgb(208, 38, 38);
}

.description {
    font-size: 20px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.btn {
    font-size: 20px;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

.btn-discover {
    background-color: red;
    color: white;
}

.btn-hire {
    color: red;
}


.services-container {
    width: 100%;
    height: 100vh;
    background-image: url("./asset/image/footer-bg.png"),
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-service {
    color: gray;
    border-radius: 25px;
}

.btn-more {
    color: red;
    border-radius: 25px;
}

.services-title {
    font-size: 40px;
    font-weight: bold;
}

.description-title {
    font-size: 20px;
    width: 50%;
    padding: 10px;
}

ol {
    font-size: 20px;
    padding: 20px;
}

.author-container {
    display: flex;
    align-items: center;
}

.author-details {
    display: flex;
    align-items: center;
    padding: 10px;
    border-right: 1px solid red;
}

.author-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-right: 10px;
}

.more-details {
    padding: 30px;
}

.service-up {
    display: flex;
}

.service-down {
    display: flex;
}

.service {
    padding: 10px;
    background-color: white;
    color: black;
    box-shadow: 4px 4px 8px gray;
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

.service-logo {
    width: 50%;
    padding-bottom: 10px;
}

.service-left {
    width: 50%;
}